/* Colorpalatte:  FFFBF5, F7EFE5, C3ACD0, 674188 Link: https://colorhunt.co/palette/fffbf5f7efe5c3acd0674188 */

:root{
  --darkgrey:#777777;
  --beige: #fffbf5;
}

.form-control {
  background-color: var(--beige);
  border: solid 1px lightgray;
}

.removeButtonMargin {
  margin-bottom: 0px;
}

.card {
  border-color: lightgray;
  padding:10px;
  margin-bottom: 20px;
}

.btn-custom {
  background-color: var(--beige);
  border-color: lightgray;
  color: solid 1px lightgray;
  padding: 10px;
  border-radius: 15px;
}

.div-padding-top-bottom{
  padding: 10px 0px;
}

.row-margin-bottom{
  margin: 0px 0px 30px 0px;
}



.navbar{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

#choose-module-btn{
  width: 100%;
  display: flex;
  justify-content: start;
  background-color: var(--darkgrey);
  color:var(--beige);
  
  
}

/*
.dropdown-toggle::after {
    

}*/

.toggle-button{
  font-variant: normal;
  background-color: var(--darkgrey);
}

.toggle-button:checked {
  color: var(--beige);
  background-color: var(--darkgrey);
  border-color: var(--darkgrey);
}